/** Necessary theme styles for Dreamer UI library - Customize as desired! */

@theme dreamer-ui {
	--color-primary: var(--color-amber-600); /* Warm amber for primary actions */
	--color-primary-foreground: var(--color-white);
	--color-secondary: var(--color-amber-100); /* Light amber for secondary elements */
	--color-secondary-foreground: var(--color-amber-900);

	--color-muted: var(--color-gray-300);
	--color-muted-foreground: var(--color-gray-800);

	--color-accent: var(--color-amber-600); /* Warm, domestic accent color for intentional, calm vibe */
	--color-accent-foreground: var(--color-white);

	--color-success: var(--color-green-600);
	--color-success-foreground: var(--color-white);
	--color-warning: var(--color-amber-500);
	--color-warning-foreground: var(--color-black);
	--color-destructive: var(--color-red-600);
	--color-destructive-foreground: var(--color-white);

	--color-border: var(--color-gray-300); /* for input/textarea borders and dividers */
	--color-card: var(--color-white); /* for card backgrounds */
	--color-popover: var(--color-white); /* for popover backgrounds (popover, dropdowns, modals, etc) */
	--color-popover-foreground: var(--color-gray-900); /* for popover text */

	--color-tooltip: var(--color-gray-100);
	--color-tooltip-foreground: var(--color-gray-900);
}

.dark {
	--color-primary: var(--color-amber-400);
	--color-primary-foreground: var(--color-gray-900);

	--color-secondary: var(--color-amber-700);
	--color-secondary-foreground: var(--color-amber-50);

	--color-muted: var(--color-gray-600);
	--color-muted-foreground: var(--color-gray-400);

	--color-accent: var(--color-amber-400);
	--color-accent-foreground: var(--color-gray-900);

	--color-success: var(--color-green-400);
	--color-success-foreground: var(--color-gray-900);
	--color-warning: var(--color-amber-400);
	--color-warning-foreground: var(--color-gray-900);
	--color-destructive: var(--color-red-400);
	--color-destructive-foreground: var(--color-gray-900);

	--color-border: var(--color-gray-700);
	--color-card: var(--color-gray-900);
	--color-popover: var(--color-gray-900);
	--color-popover-foreground: var(--color-gray-100);

	--color-tooltip: var(--color-gray-700);
	--color-tooltip-foreground: var(--color-gray-100);
}

